@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Signo Zodiacal</h1>
    <p> <a asp-controller="ZodiacSign" asp-action="GetZodiacSign">Consultar Signo Zodiacal</a>.</p>
</div>
