@model ZodiacSign
@{

    ViewBag.Title = "Create Zodiac Sign";

}
<form enctype="multipart/form-data" asp-controller="ZodiacSign" asp-action="Create" method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="Day" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Day" class="form-control" placeholder="Dia" />
            <span asp-validation-for="Day" class="text-danger"></span>
        </div>
        <label asp-for="Month" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Month" class="form-control" placeholder="Mes" />
            <span asp-validation-for="Month" class="text-danger"></span>
        </div>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" placeholder="Signo Zodiacal" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-sm-10">
            <input asp-controller="ZodiacSign" asp-action="Create" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
</form>
