@model ZodiacSign
@{

    ViewBag.Title = "Formulario Consulta Signo Zodiacal";

}
Formulario para consulta de Signo Zodiacal
<form enctype="multipart/form-data" asp-controller="ZodiacSign" asp-action="Create" method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="Day" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Day" class="form-control" placeholder="Dia" />
            <span asp-validation-for="Day" class="text-danger"></span>
        </div>
        <label asp-for="Month" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Month" class="form-control" placeholder="Mes" />
            <span asp-validation-for="Month" class="text-danger"></span>
        </div>
        <br />
        <br />
        <div class="col-sm-10">
            <button asp-controller="ZodiacSign" asp-action="Create" class="btn btn-primary">Consultar</button>
        </div>
    </div>
</form>
